#sites
back/node_modules
back/logs
back/package-lock.json

sites/###meta
sites/##meta
sites/#meta

sites/backnum/node_modules
sites/backnum/package-lock.json

sites/smart/node_modules
sites/smart/package-lock.json

sites/demark/node_modules
sites/demark/package-lock.json

sites/gold/node_modules
sites/gold/package-lock.json

sites/mclaren/node_modules
sites/mclaren/package-lock.json

sites/modern/node_modules
sites/modern/package-lock.json

sites/napoli/node_modules
sites/napoli/package-lock.json

sites/pent/node_modules
sites/pent/package-lock.json

sites/study/node_modules
sites/study/package-lock.json

sites/meta/node_modules
sites/meta/package-lock.json

sites/three/node_modules
sites/three/package-lock.json

sites/three2/node_modules
sites/three2/package-lock.json

sites/x1/node_modules
sites/x1/package-lock.json

sites/x1-1/node_modules
sites/x1-1/package-lock.json

sites/x2/node_modules
sites/x2/package-lock.json

sites/x3/node_modules
sites/x3/package-lock.json

sites/ib/node_modules
sites/ib/package-lock.json

sites/apple/node_modules
sites/apple/package-lock.json

sites/ocean/node_modules
sites/ocean/package-lock.json

sites/ocen/node_modules
sites/ocen/package-lock.json

sites/xxx/node_modules
sites/xxx/package-lock.json